{% extends "base.html" %}

{% block header %}
<header>
    <a href="{% url 'landing-page' %}">
        <h1>Gobierno de Mexico</h1>
    </a>

    {% if usuario %}
    <div class="buttons">
        <a href="{% url 'authentication:logout' %}" class="styled-button">
            Cerrar sesión
        </a>
    </div>
    {% else %}
    <div class="buttons">
        <a href="{% url 'authentication:login' %}" class="styled-button">
            Iniciar sesión
        </a>
        <button class="styled-button">Registrar</button>
    </div>
    {% endif %}
</header>
{% endblock %}

{% block title %}Opciones{% endblock %}

{% block content %}
<style>
    .mis-solicitudes {
        text-align: left;
        padding: 50px;
        max-width: 800px;
    }

    li:hover {
        font-weight: bold;
    }

    li {
        padding: 8px;
    }
</style>

<div class="mis-solicitudes">
    <h2>Uh oh....</h2>
    <p>No encontramos una solicitud con esa identificación. Puede que haya sido eliminada.</p>
</div>
{% endblock %}