{% extends "base.html" %}

{% block title %}Opciones{% endblock %}

{% block content %}
<style>
    .solicitudes-locales {
        text-align: left;
        padding: 10px;
        margin-top: 30px;
        margin-left: 50px;
        max-width: 800px;
    }

    li:hover {
        font-weight: bold;
    }

    li {
        padding: 8px;
    }

    .d-flex {
        margin-bottom: 30px;
        margin-left: 600px;
    }
</style>

<h2>Solicitudes cerca de ti</h2>
<p>{{ res }}</p>

{% if solicitudes is not None %}
<ul>
    {% for solicitud in solicitudes %}
    <div class="list-container">
        <li>
            <a href="{% url 'solicitudes:solicitudes-locales'  %}">
                {{ solicitud.titulo }}
            </a>
        </li>
    </div>
    {% endfor %}
</ul>
{% endif %}

<div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary rounded-pill" id="registrarButton">Registrar</button>
</div>
{% endblock %}