{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}Opciones{% endblock %}

{% block content %}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        margin-left: 80px;
        margin-top: 25px;
        margin-bottom: 30px;
        margin-right: 70px;
    }

    .rectangular-section {
        border-radius: 10px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        padding: 1px;
        border-radius: 10px;
        text-align: center;
        height: 100px;
        align-items: center;
    }

    .text_display {
        font-family: "Montserrat", sans-serif;
    }

    .key {
        font-weight: bold;
    }

    .new-h1 {
        margin-top: 20px;
        font-size: 30px;
        color: black;
    }

    .timeline-point {
        width: 15px;
        height: 15px;
        background-color: rgb(58, 58, 58);
        border-radius: 50%;
        border: 2px solid black;
        z-index: 1;
        cursor: pointer;
    }

    .timeline-line {
        width: 96%;
        height: 2px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        border-top: 2px dotted gray;
        border-radius: 2px;
    }

    .timeline-point.active {
        background-color: #366592;
        border-color: black;
    }

    .timeline-point.completed {
        background-color: #036b56;
        border-color: black;
    }

    .timeline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: relative;
        margin-bottom: 100px;
        margin-right: 70px;
        margin-left: 80px;
    }

    .btn-primary.rounded-pill {
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 50px;
        padding: 10px 20px;
        color: white;
        font-weight: bold;
        margin-left: 1270px;
    }

    .btn-danger.custom-delete {
        background-color: #ff0000;
        border-color: #ff0000;
        border-radius: 50px;
        padding: 10px 20px;
        color: white;
        font-weight: bold;
        margin-left: 1160px;
        margin-bottom: 200;
    }

    .btn-danger.custom-delete:hover {
        background-color: #ac0000;
    }

    .btn-primary.rounded-pill:hover {
        background-color: #0061c9;
    }

    .list-group-item {
        margin-left: 60px;
    }

    #comentario-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;
        margin-top: 20px;
    }

    .comentario-input {
        width: 50%;
        height: 50px;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 10px;
        resize: none;
        margin-bottom: 10px;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
    }

    .btn-enviar {
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 50px;
        padding: 10px 20px;
        color: white;
        font-weight: bold;
        margin-left: 45%;
    }

    .comentario-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .comentario-box {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 10px;
        background-color: #f5f5f5;
        width: 50%;
        align-self: center;
    }

    .comentario-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 5px;
    }

    .comentario-author {
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
    }

    .comentario-date {
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
        color: #888;
    }

    .comentario-text {
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
    }

    .delete-comentario {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
    }

    .delete-link {
        color: red;
        text-decoration: underline;
        cursor: pointer;
    }

    .edit-input {
        display: none;
        align-self: center;
        height: 20px;
        width: 300px;
    }

    .cancel-button {
        display: none;
    }

    .edit-input-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    li {
        padding: 5px;
    }

    li::before {
        content: "";
        display: inline-block;
        width: 20px;
    }

    .i-accentuated {
        font-weight: bold;
    }



    .status-dropdown {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .current-status {
        padding: 10px;
        background-color: #f1f1f1;
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 10px;
        font-weight: bold;
        align-items: center;
    }

    .status-options {
        position: absolute;
        display: none;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 0;
        margin: 0;
        list-style: none;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .status-options li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .status-dropdown.show .status-options {
        display: block;
    }
</style>

{% bootstrap_javascript %}
{% csrf_token %}
<script>
    // Muestra información del paso actual en la timeline
    document.addEventListener('DOMContentLoaded', function () {
        var timelinePoints = document.querySelectorAll('.timeline-point');
        var historial_data = "{{solicitud_historial|safe}}";

        console.log(JSON.parse(historial_data));


        timelinePoints.forEach(function (point, index) {
            console.log(point)
            //     var stepDescripcion = solicitudHistorial[index].descripcion;
            //     var stepTitulo = solicitudHistorial[index].step;

            //     console.log()

            //     new bootstrap.Popover(point, {
            //         title: stepTitulo,
            //         content: stepDescripcion,
            //         trigger: 'hover',
            //         placement: 'bottom'
            //     });
        });
    });

    // Permite agregar comentarios
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('comentario-form');
        const commentBox = document.getElementById('comment-box');
        const enviarButton = document.getElementById('enviar-btn');

        form.addEventListener('submit', async function (event) {
            event.preventDefault();
            const textoComentario = commentBox.value;
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const solicitud_id = '{{solicitud_data.id}}'

            if (textoComentario.trim() === '') {
                return;
            }

            const response = await fetch(`/solicitudes/${solicitud_id}/comentarios`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken

                },
                body: JSON.stringify({ texto: textoComentario })
            })
                .then(response => response.json())
                .then(data => {
                    location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Ocurrió un error intentando publicar el comentario. Inténtelo más tarde.');
                });
        });
    });

    // Permite actualizar el estatus cuando el usuario es un servidor
    document.addEventListener('DOMContentLoaded', function () {
        const statusDropdown = document.querySelector('.status-dropdown');
        const currentStatus = statusDropdown.querySelector('.current-status');
        const statusOptions = statusDropdown.querySelector('.status-options');

        const prevStatus = currentStatus.textContent;
        console.log(prevStatus)

        statusDropdown.addEventListener('click', () => {
            statusDropdown.classList.toggle('show');
        });

        statusOptions.addEventListener('click', (event) => {
            if (event.target.tagName === 'LI') {
                currentStatus.textContent = `Nuevo estatus: ${event.target.textContent}`;
                statusDropdown.classList.remove('show');
            }
        });

        document.addEventListener('click', (event) => {
            if (!statusDropdown.contains(event.target)) {
                const newStatus = currentStatus.textContent;

                if (prevStatus != newStatus) {
                    const dataKey = 'estatus';
                    const statusId = event.target.dataset.id;
                    var jsonObject = {};
                    jsonObject[dataKey] = statusId;

                    // MISSING POST
                }

                statusDropdown.classList.remove('show');
            }
        });
    });

</script>

<!-- Informacion -->
<div class="container">
    <h1 class="new-h1">Solicitud #{{ solicitud_data.id }}</h1>
    <div class="line"></div>
    <p><i>Haz click en cualquiera de los elementos para editarlos. Guarda tus cambios presionando enter.</i></p>
    <div class="grid-container">
        {% for key, value in solicitud_data.items %}
        {% if key != 'id' %}
        {% if key != 'usuario_id' %}
        <div class="rectangular-section">
            <p class="key">{{ key }}</p>
            <div class="editable-field" data-key="{{key}}">
                <div class="text-display">{{ value }}</div>
                <div class="edit-input-container">
                    <input type="text" class="edit-input form-control" style="display: none;">
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if usuario.tipo_de_usuario == 2 %}
        <div class="status-dropdown">
            <div class="current-status">Estatus actual: {{current_step}}</div>
            <ul class="status-options">
                {% for value in estatus %}
                <li data-id="{{value.id}}">{{ value.nombre }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

</div>

<!-- Historial -->
<div class="container">
    <h1 class="new-h1">Historial</h1>
    <div class="line"></div>
    <p><i>Dirige el cursor sobre un punto para desplegar la información.</i></p>
    <div class="timeline">
        <div class="timeline-line"></div>
        {% for step in historial_steps %}
        <div class="timeline-item">
            <div
                class="timeline-point {% if step == current_step %}active{% elif step in previous_steps %}completed{% endif %}">
            </div>
        </div>
        {% endfor %}
    </div>

    <ol class="list-group">
        {% for step in solicitud_historial %}
        <li class="list-group-item"> {{step.fecha_de_creacion}} - {{ step.estatus }}</li>
        {% endfor %}
    </ol>
</div>

<!-- Sección de comentarios -->
<div class="container">
    <h1 class="new-h1">Comentarios</h1>
    <div class="line"></div>
    <div class="comentario-section">
        {% if comentarios.data is null %}
        <p><i>{{comentarios.res}}</i></p>

        {% else %}
        {% for comentario in comentarios.data %}
        <div class="comentario-box">
            <div class="comentario-header">
                <span class="comentario-author">{{ comentario.usuario }}</span>
                <span class="comentario-date">{{ comentario.fecha_de_creacion }}</span>
            </div>
            <div class="comentario-text">{{ comentario.texto }}</div>
            {% if comentario.removible %}
            <div class="delete-comentario">
                <a href="#" class="delete-link" data-comentario-id="{{ comentario.id }}">eliminar</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% if usuario.activo %}
<div class="container">
    <form id="comentario-form">
        <textarea id="comment-box" class="comentario-input" rows="4" placeholder="Escribe un comentario..."></textarea>
        <button id="enviar-btn" class="btn btn-enviar">Enviar</button>
    </form>
</div>

{% else %}
<div class="container">
    <div class="comentario-section">
        <div class="comentario-box">
            <p><i class="i-accentuated">Inicia sesión para agregar un comentario.</i></p>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}