{% extends "base.html" %}

{% block title %}Opciones{% endblock %}

{% block content %}
<style>
    .box-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 40px 0;
        border-radius: 10px;
    }

    .box-opciones {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        padding: 20px;
        align-items: center;
        box-sizing: border-box;
        text-align: center;
        border-radius: 10px;
        height: 100px;
        width: 150px;
    }

    .box-opciones:hover {
        height: 95px;
        width: 140px;
    }

    h2 {
        margin-bottom: 5px;
    }
</style>

<h2>Bienvenido, {{ usuario.nombre }} {{ usuario.apellido }}... </h2>
<div class="line"></div>

<div class="box-container">
    <a href="{% url 'solicitudes:ver-solicitudes' %}">
        <div class="box-opciones" name="mis-solicitudes">
            Mis solicitudes
        </div>
    </a>
    <a href="{% url 'solicitudes:solicitudes-locales' %}">
        <div class="box-opciones" name="solicitudes-recientes">
            Solicitudes recientes en {{ usuario.municipio_ciudad }}
        </div>
    </a>
    <a href="{% url 'solicitudes:registrar-solicitud' %}">
        <div class="box-opciones" name="crear-solicitudes">
            Registrar solicitud
        </div>
    </a>
</div>

{% endblock %}