{% extends "base.html" %}

{% block title %}Opciones{% endblock %}

{% block content %}
<style>
    .box-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 40px 0;
        border-radius: 10px;
    }

    .box-opciones {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        padding: 20px;
        align-items: center;
        height: 100vh;
        width: calc(25% - 20px);
        box-sizing: border-box;
        text-align: center;
        border-radius: 10px;
        height: 200px;
        width: 150px;
    }

    .box-opciones:hover {
        height: 190px;
        width: 140px;
    }
</style>

<div class="box-container">
    <a href="{% url 'solicitudes:ver-solicitudes' %}">
        <div class="box-opciones" name="mis-solicitudes">
            Mis solicitudes
        </div>
    </a>
    <a href="{% url 'solicitudes:solicitudes-locales' %}">
        <div class="box-opciones" name="solicitudes-recientes">
            Solicitudes recientes en {{ mi_ciudad }}
        </div>
    </a>
    <a href="{% url 'solicitudes:registrar-solicitudes' %}">
        <div class="box-opciones" name="crear-solicitudes">
            Registrar solicitud
        </div>
    </a>
</div>
{% endblock %}