{% extends "base.html" %}

{% block title %}Opciones{% endblock %}

{% block content %}
<style>
    .box-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 40px 0;
        border-radius: 10px;
    }

    .box-opciones {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        padding: 20px;
        width: calc(25% - 20px);
        box-sizing: border-box;
        text-align: center;
        border-radius: 5px;
        height: 200px;
        width: 150px;
    }

    .box-opciones:hover {
        height: 190px;
        width: 140px;
    }
</style>

<div class="box-container">
    <div class="box-opciones" name="mis-solicitudes">
        <a href="{% url 'solicitudes:ver-solicitudes' %}">
            Mis solicitudes
        </a>
    </div>
    <div class="box-opciones" name="solicitudes-recientes">Solicitudes recientes en [tu ciudad]</div>
    <div class="box-opciones" name="crear-solicitudes">
        <a href="{% url 'solicitudes:registrar-solicitudes' %}">
            Registrar solicitud
        </a>
    </div>
</div>
{% endblock %}